@import "tailwindcss";

@font-face {
    font-family: "blambot";
    src: url("/fonts/blambot/blambotcasual.ttf") format("truetype");
}

@font-face {
    font-family: "blambot-bold";
    src: url("/fonts/blambot/blambotcasualbold.ttf") format("truetype");
}

@font-face {
    font-family: "blambot-bold-italic";
    src: url("/fonts/blambot/blambotcasualbolditalic.ttf") format("truetype");
}

@font-face {
    font-family: "blambot-italic";
    src: url("/fonts/blambot/blambotcasualitalic.ttf") format("truetype");
}

html {
    background-color: var(--background);
    color: var(--foreground);
    font-family: "Poppins", sans-serif;
}

:root {
    --radius: 0.5rem;
    --radius-md: 0.5rem;
    --titlebar-h: 2.5rem;
    --foreground: rgb(var(--color-gray-800) /1);
    --background: white;
    --brand: rgb(var(--color-brand-300) /1);
    --gray: rgb(var(--color-gray-500) /1);
    --border: rgb(var(--color-gray-200) /1);
    --ring: rgb(var(--color-brand-500) /1);
}

.dark, [data-mode=dark] {
    --foreground: rgb(var(--color-gray-200) /1);
    --background: #070707;
    --slate: #cbd5e1;
    --gray: rgb(var(--color-gray-300) /1);
    --border: rgba(255, 255, 255, 0.1);
    --ring: rgb(var(--color-brand-200) /1);
}